<div class="content">
  <div class="row text-center">
    <h1>Hello <%= current_user.login %></h1>
  </div>
  <div class="row text-center">
    <p>You can change rate on this page!</p>
  </div>
  <div class="row">
    <div class="col col-xs-12 col-md-8">
      <%= render 'admins/helpers/new_form' %>
    </div>
  <div class="col col-xs-12 col-md-4">
      <%= render 'admins/helpers/history' %>
  </div>
  </div>
</div>
