<div class="fb__container">
  <div class="row text-center">
    <h1>Good day, my Friend!</h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8">One</div>
    <div class="col-xs-6 col-md-4">Two</div>
  </div>
</div>
