<div class="fb__container">
  <!--<div class="row text-center">
    <h1>Good day, my Friend!</h1>
  </div>-->

  <div class="row">
    <div class="row text-center text-converter-header">
      <p>Currency Converter</p>
    </div>
    <% if @currency %>
      <div class="" id="fb__update_currency_content">
        <%= render 'welcome/helpers/currency_content' %>
      </div>
    <% else %>
      <div class="row text-center">
        Sorry, we don't have current exchange rate
      </div>
    <% end %>
  </div>
</div>
